:root {
    
/* -- Primary -- */

--VeryDarkBlue: hsl(243, 87%, 12%);
--DesaturatedBlue: hsl(238, 22%, 44%);

/* -- Accent -- */

--BrightBlue: hsl(224, 93%, 58%);
--ModerateCyan: hsl(170, 45%, 43%);

/* -- Neutral -- */

--LightGrayishBlue: hsl(240, 75%, 98%);
--LightGray: hsl(0, 0%, 75%);

/* -- Fuentes -- */

/* -- Headings, Call-to-actions, Header Navigation -- */
--Railway: 'Raleway', sans-serif;

/* -- Body -- */
--OpenSans: 'Open Sans', sans-serif;

}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

*, *:before, *:after {
    font-size: 62.5%;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: var(--OpenSans);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

/* ---- header ---- */

header {
    
}

